body{
    background-color: #1212;
}

.content{
    margin: 10em;
    margin-left: 30em;
    padding: 2rem;
    background-color: rgba(26, 53, 26, 0.133);
    width: 50%;
    color: rgb(77, 75, 75);
    border-radius: 10px;
}
button{
    margin-top: 20px;
    padding: 5px;
    border: none;
}

.container{
    margin-left: 2rem;
}
img{
    padding: 10px;
    height: 300px;
    width: 400px;
    border-radius: 15px;
}