body{
    background: #1212;
}
.content{
    margin: 0 auto;
    width: 20em;
    padding: 5em;
    text-align: center;
    color: white;
    background-color: #121212;
}
.add, .clear{
    margin: 20px;
    padding: 5px;
    display: inline-block;
    width: 10em;
    color: white;
    background-color: rgba(38, 73, 38, 0.133);
    border: none;
}
